{% extends "layout.html.twig" %}

{% block title %}{{parent()}}-Accueil{% endblock %}

{% block body %}
    <nav>
        Logo
        <ul>
            <li>Hello</li>
            <li>World</li>
            <li>GG</li>
        </ul>
    </nav>
{% endblock %}